main > div{
    margin: auto 6.5%;
    padding: 12% 0;
}
main div h1{
    width: 40%;
    font-size: 2.5rem;
    margin-left: 26%;
    margin-bottom: 12%
}
main div > img{
    width: 100%;
    height: 100vh;
}
main section{
    margin: auto 8% 11% 18%;
}
main section div{
    width: 40%;
    float: right;
    padding-top: 50px
}
main section div h2{
    font-size: 40px;
    padding-bottom: 20px;
}
main section div p{
    color: #777;
    line-height: 30px;
}
main section img{
    width: 40vw;
    height: 55vh;
}