body{
    height: 100vh;
    background: url(/image/section-voyager.jpg) no-repeat #2e2e2e;
    background-size: 55% 100%;
    background-position: left;
}
main div{
    width: 35%;
    position: absolute;
    top: 20%;
    left: 60%;
}
main div h1{
    font-size: 40px;
    margin-bottom: 7rem;
}
main div p{
    color: #777;
    line-height: 30px;
    padding-bottom: 20px;
}